ul {
    list-style: none;
    padding-left: 0;
}

.page-title {
    font-family: monospace;
    text-align: center;
}

.user-item {
    overflow: hidden;
    width: 50%;
    margin-bottom: 10px;
}

.user-info {
    position: relative;
    overflow: hidden;
}

.user-image {
    float: left;
    width: 25%;
    padding-right: 10px;
}

.user-button {
    position: absolute;
    bottom: 0;
}

.user-preloader {
    max-height: 100px;
}

.user-moreInfoItem {
    padding: 10px 15px 10px 20px;
}

@media (max-width: 867px) {

}