ul {
    list-style: none
}

.page-title {
    font-family: monospace;
    text-align: center;
}
.user-item {
    overflow: hidden;
    clear: both;
}

.user-container {
    position: relative;
    overflow: hidden;
    width: 75%;
    padding: 10px;
    border: 1px solid #2e6da4;
    margin-bottom: 10px;
    border-radius: 4px;
}

.user-container--item{
    margin-bottom: 10px;
}

.user-moreContainer {
    width: 75%;
}

.user-item {
    float: left;
    width: 50%;
}

.user-avatar {
    padding-right: 10px;
    width: 50%;
    float: left;
}

.user-more {
    position: absolute;
    bottom: 10px;
}

@media (max-width: 867px) {
    .user-list {
        margin: 0;
        padding: 0;
    }

    .user-avatar {
        width: 50%;
    }

    .user-item {
        width: 100%;
    }

    .user-container {
        width: 100%;
    }

    .user-moreContainer {
        width: 100%;
    }
}