ul {
    list-style: none
}

.user-item {
    overflow: hidden;
    clear: both;
}

.user-container {
    position: relative;
    overflow: hidden;
}

.user-container--item{
    margin-bottom: 10px;
}

.user-moreContainer {

}

.user-item {
    margin-bottom: 20px;
}

.user-avatar {
    padding-right: 10px;
    width: 20%;
    float: left;
}

.user-more {
    position: absolute;
    bottom: 0;
}

